{% extends 'base/base.html' %}
{% block script %}
<script>
    // console.log([{% for item in data %}'{{item.date}}',{% endfor %}]);
    // console.log('hi');
    $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
        labels: [{% for item in labels %}'{{item}}',{% endfor %}],
        datasets: [{
        label: 'All Clicks | Last 7 days',
        data: [{% for item in data %}'{{item}}',{% endfor %}],
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
        }]
        },
        options: {
        scales: {
        y: {
        beginAtZero: true
        }
        }
        }
        });

    });
</script>
{% endblock script %}

{% block content %}

    <h3>All Links</h3>
    
    <div id="device">
    
    </div>
    <div class="row">
        <div class="col"> 
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="linkid" id="linkid">
                    {{form.as_p}}
                    <input type="button" name="save" value="save" class="btn btn-secondary" id="save-btn">
                    {{form.error}}
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!-- <div class="title">
                <h3>Title</h3>
                <table class="table responsive-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                    </tr>
                </thead>
                {% for link in links %}
                    <tr>
                        <td>{{link.id}}</td>
                        <td>{{link.title}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div> -->
            <br>
            <div class="chart">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
            
        </div>
        <div class="col">
            <table class="responsive-table table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Url</th>
                        <th>Short Url</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for link in links %}
                    <tr>
                        <td>{{link.id}}</td>
                        <td>{{link.url}}</td>
                        <td><a href="{% url 'pages' link.short_url %}">{{link.short_url}}</a></td>
                        <td> <input type="button" name="Edit" data-sid={{link.id}} value="Edit" class="btn btn-sm btn-outline-dark btn-edit" id="btn-edit"> </td>
                        <td> <input type="button" name="Delete" data-sid={{link.id}} value="Delete" class="btn btn-sm btn-danger btn-delete" id="btn-delete"> </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% include 'ajax.html' %}
{% endblock %}
